$white: #ffffff;
$black: #000000;

$beige-darker: #595958;
$beige-dark: #9c9c9b;
$beige-normal: #dfdfde;
$beige-light: #e8e8e7;
$beige-lighter: #f2f2f1;

$purple-darker: #403039;
$purple-dark: #715464;
$purple-normal: #a2798f;
$purple-light: #bda1b0;
$purple-lighter: #d9c9d2;

$pink-darker: #564f52;
$pink-dark: #968a90;
$pink-normal: #d7c6cf;
$pink-light: #e3d7dd;
$pink-lighter: #efe8eb;
$pink-white: #f9f7f9;

$green-darker: #384443;
$green-dark: #627775;
$green-normal: #8caba8;
$green-light: #aec4c2;
$green-lighter: #d1dddc;