@mixin shadow-spread-light {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@mixin shadow-spread-dark { 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@mixin shadow-small-light {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

@mixin shadow-small-dark {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}