@import "@styles/imports.scss";

.data-line {
  width: calc(100% - 24px * 2);
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &--field {
    @include field-text;
  }

  &--content {
    @include content-text;
  }
}
