@import "@styles/imports.scss";

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  & > .primary-button {
    @include label;
    margin-bottom: 24px;
    width: 150px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
